<div class="row" *ngIf="error">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger text-center">
      <strong>Error!</strong> {{ error }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Add new account</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" type="text"  [(ngModel)]="account.title" #title="ngModel" required minlength="5" name="title">
            <small [hidden]="title.valid || (title.pristine && !f.submitted)">
              Name is required (minimum 5 characters).
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" type="text" name="description" [(ngModel)]="account.description" #description="ngModel" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="balance">Balance</label>
            <input class="form-control" id="balance" type="number" name="balance" [(ngModel)]="account.balance" #description="ngModel" value="0" #balance>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success">Store</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
